.App {
    font-family: sans-serif;
    text-align: center;
  }

  body {
    background-color: skyblue;
  }
  
  button {
    font-size: 1rem;
    width: 4rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  span {
    font-size: 1.5rem;
  }